Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [0]:
R1=list(range(2000, 3201))
list7=[]
for each in R1:
  if each % 7 ==0 and each %5!= 0:
    list7.append(each)
print(list7)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [0]:
R=2000
Out=[]
while (R<=3200):
  if R% 7 == 0 and R%5 != 0:
    Out.append(R)
  R=R+1
print (Out)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [0]:
name=[]
first= input("What is your first name?")
name.append(first)
name.append(" ")
last= input("What is your last name?")
name.append(last)
name=name[::-1]
print(name)

What is your first name?zxc
What is your last name?asd
['asd', ' ', 'zxc']

In [0]:
name=[]
first= input("What is your first name?")
first=first[::-1]
name.append(first)
name.append(" ")
last= input("What is your last name?")
last=last[::-1]
name.append(last)
name=name[::-1]
print(name)

What is your first name?TAnvi
What is your last name?Iyengar
['ragneyI', ' ', 'ivnAT']

In [0]:
name=()
first= input("What is your first name?")
last= input("What is your last name?")
name = first + " " + last
name=name[::-1]
print(name)

What is your first name?Tanvi
What is your last name?Iyengar
ragneyI ivnaT

Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * π * r 3

In [0]:
d=12
r=d/2
π = 3.14
V=(4/3) * π * (r**3)
print(V)

904.3199999999999

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [50]:
acpt=input("Give any number of input: ")
xyz= list(acpt.split(","))
print(xyz)
type(xyz)

Give any number of input: asdf,p;ij,678,gfhs
['asdf', 'p;ij', '678', 'gfhs']

list

Create the below pattern using nested for loop in Python.

In [68]:
i=1
while (i<=5):
  print ("*"*i)
  i=i+1
  continue
while (i>=1):
  print ("*"*i)
  i=i-1

*
**
***
****
*****
******
*****
****
***
**
*

Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [70]:
rever= input("Input word: ")
print(rever[::-1])

Input word: AcadGild
dliGdacA

Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [94]:
print ('WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN, \n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t\t and to secure to all its citizens')

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			 and to secure to all its citizens